In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
from bs4 import BeautifulSoup
import os

In [3]:
with open('rt_html/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file, 'lxml')

In [4]:
soup.find('title')

In [5]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [6]:
soup.find('title')

In [7]:
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file,'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        number_of_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor').find_all('div')[1].contents[2].strip().replace(",","")
        #Append
        df_list.append({'title': title, 
                       'audience_score':int(audience_score),
                       'number_of_audience_ratings':int(number_of_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [8]:
df.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768

In [9]:
soup.find('div', class_='audience-info hidden-xs superPageFontColor').find_all('div')[1].contents[2].strip().replace(",","")

'98633'

In [10]:
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768
...,...,...,...
95,Up (2009),90,1201878
96,Vertigo (1958),93,101454
97,The Wages of Fear (1953),95,8536
98,Wonder Woman (2017),90,112955
99,Zootopia (2016),92,98633

In [11]:
import zipfile

In [13]:
with zipfile.ZipFile('ebert-reviews.zip', 'r') as file:
    file.extractall()

In [14]:
import glob

In [24]:
df_list = []

for ebert_review in glob.glob('ebert_reviews/*.txt'):
    with open(ebert_review, encoding = 'utf-8') as file:
        title = file.readline()[:-1]
        review_url = file.readline()
        review_txt = file.read()
        df_list.append({'title':title,
                       'review_url':review_url,
                       'review_txt':review_txt})
df = pd.DataFrame(df_list, columns = ['title', 'review_url', 'review_txt'])

In [26]:
df.head()

,title,review_url,review_txt
0,The Wizard of Oz (1939),http://www.rogerebert.com/reviews/great-movie-...,As a child I simply did not notice whether a m...
1,Metropolis (1927),http://www.rogerebert.com/reviews/great-movie-...,The opening shots of the restored “Metropolis”...
2,Battleship Potemkin (1925),http://www.rogerebert.com/reviews/great-movie-...,"""The Battleship Potemkin” has been so famous f..."
3,E.T. The Extra-Terrestrial (1982),http://www.rogerebert.com/reviews/great-movie-...,Dear Raven and Emil:\n\nSunday we sat on the b...
4,Modern Times (1936),http://www.rogerebert.com/reviews/modern-times...,"A lot of movies are said to be timeless, but s..."

In [32]:
import wptools

In [31]:
pip install wptools

Collecting wptoolsNote: you may need to restart the kernel to use updated packages.
  Downloading wptools-0.4.17-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: pycurl in c:\users\kaori\anaconda3\lib\site-packages (from wptools) (7.43.0.5)
Collecting html2text
  Downloading html2text-2020.1.16-py3-none-any.whl (32 kB)
Requirement already satisfied: certifi in c:\users\kaori\anaconda3\lib\site-packages (from wptools) (2020.6.20)
Requirement already satisfied: lxml in c:\users\kaori\anaconda3\lib\site-packages (from wptools) (4.5.2)
Installing collected packages: html2text, wptools
Successfully installed html2text-2020.1.16 wptools-0.4.17

In [47]:
page = wptools.page('E.T._the_Extra-Terrestrial').get()

en.wikipedia.org (query) E.T._the_Extra-Terrestrial
en.wikipedia.org (query) E.T. the Extra-Terrestrial (&plcontinue=...
en.wikipedia.org (parse) 73441
www.wikidata.org (wikidata) Q11621
www.wikidata.org (labels) P3804|P725|Q443775|P2047|P1258|Q457893|...
www.wikidata.org (labels) P921|P18|P646|P577|Q787131|P31|P166|Q18...
www.wikidata.org (labels) P2061|Q20644795|P2130|P136|Q130232|P359...
www.wikidata.org (labels) Q488651|P135|P6262|Q8877|P2631|Q131285|...
en.wikipedia.org (restbase) /page/summary/E.T._the_Extra-Terrestrial
en.wikipedia.org (imageinfo) File:ET logo 3.svg|File:E t the extr...
E.T. the Extra-Terrestrial (en) data
{
  WARNINGS: <dict(1)> extracts
  aliases: <list(2)> E.T., ET
  assessments: <dict(4)> United States, Film, Science Fiction, Lib...
  claims: <dict(109)> P1562, P57, P272, P345, P31, P161, P373, P48...
  description: <str(63)> 1982 American science fiction film direct...
  exhtml: <str(336)> <p><i><b>E.T. the Extra-Terrestrial</b></i> i...
  exrest: <str(315)> E.T. the Extra-Terrestrial is a 1982 American...
  extext: <str(1413)> _**E.T. the Extra-Terrestrial**_ is a 1982 A...
  extract: <str(1510)> <p class="mw-empty-elt"></p><p><i><b>E.T. t...
  image: <list(4)> {'kind': 'parse-image', 'file': 'File:E t the e...
  infobox: <dict(18)> name, image, caption, director, producers, w...
  iwlinks: <list(6)> https://commons.wikimedia.org/wiki/Category:E...
  label: E.T. the Extra-Terrestrial
  labels: <dict(195)> P3804, P725, Q443775, P2047, P1258, Q457893,...
  length: 90,646
  links: <list(666)> 12 Angry Men (1957 film), 12 Monkeys, 12 Year...
  modified: <dict(2)> page, wikidata
  pageid: 73441
  parsetree: <str(111837)> <root><template><title>Redirect</title>...
  random: Eugene Hamilton (politician)
  redirects: <list(38)> {'pageid': 177061, 'ns': 0, 'title': 'E.T....
  requests: <list(10)> query, query, parse, wikidata, labels, labe...
  title: E.T._the_Extra-Terrestrial
  url: https://en.wikipedia.org/wiki/E.T._the_Extra-Terrestrial
  url_raw: <str(67)> https://en.wikipedia.org/wiki/E.T._the_Extra-...
  watchers: 337
  what: film
  wikibase: Q11621
  wikidata: <dict(109)> AllMovie movie ID (P1562), director (P57),...
  wikidata_pageid: 13150
  wikidata_url: https://www.wikidata.org/wiki/Q11621
  wikitext: <str(90322)> {{Redirect|E.T.|other uses|ET (disambigua...
}

In [77]:
page.data['image'][0]['url']

'https://upload.wikimedia.org/wikipedia/en/6/66/E_t_the_extra_terrestrial_ver3.jpg'

In [55]:
page.data['infobox']['director']

'[[Steven Spielberg]]'

In [56]:
import pandas as pd
import wptools
import os
import requests
from PIL import Image
from io import BytesIO

In [57]:
title_list = [
 'The_Wizard_of_Oz_(1939_film)',
 'Citizen_Kane',
 'The_Third_Man',
 'Get_Out_(film)',
 'Mad_Max:_Fury_Road',
 'The_Cabinet_of_Dr._Caligari',
 'All_About_Eve',
 'Inside_Out_(2015_film)',
 'The_Godfather',
 'Metropolis_(1927_film)',
 'E.T._the_Extra-Terrestrial',
 'Modern_Times_(film)',
 'It_Happened_One_Night',
 "Singin'_in_the_Rain",
 'Boyhood_(film)',
 'Casablanca_(film)',
 'Moonlight_(2016_film)',
 'Psycho_(1960_film)',
 'Laura_(1944_film)',
 'Nosferatu',
 'Snow_White_and_the_Seven_Dwarfs_(1937_film)',
 "A_Hard_Day%27s_Night_(film)",
 'La_Grande_Illusion',
 'North_by_Northwest',
 'The_Battle_of_Algiers',
 'Dunkirk_(2017_film)',
 'The_Maltese_Falcon_(1941_film)',
 'Repulsion_(film)',
 '12_Years_a_Slave_(film)',
 'Gravity_(2013_film)',
 'Sunset_Boulevard_(film)',
 'King_Kong_(1933_film)',
 'Spotlight_(film)',
 'The_Adventures_of_Robin_Hood',
 'Rashomon',
 'Rear_Window',
 'Selma_(film)',
 'Taxi_Driver',
 'Toy_Story_3',
 'Argo_(2012_film)',
 'Toy_Story_2',
 'The_Big_Sick',
 'Bride_of_Frankenstein',
 'Zootopia',
 'M_(1931_film)',
 'Wonder_Woman_(2017_film)',
 'The_Philadelphia_Story_(film)',
 'Alien_(film)',
 'Bicycle_Thieves',
 'Seven_Samurai',
 'The_Treasure_of_the_Sierra_Madre_(film)',
 'Up_(2009_film)',
 '12_Angry_Men_(1957_film)',
 'The_400_Blows',
 'Logan_(film)',
 'All_Quiet_on_the_Western_Front_(1930_film)',
 'Army_of_Shadows',
 'Arrival_(film)',
 'Baby_Driver',
 'A_Streetcar_Named_Desire_(1951_film)',
 'The_Night_of_the_Hunter_(film)',
 'Star_Wars:_The_Force_Awakens',
 'Manchester_by_the_Sea_(film)',
 'Dr._Strangelove',
 'Frankenstein_(1931_film)',
 'Vertigo_(film)',
 'The_Dark_Knight_(film)',
 'Touch_of_Evil',
 'The_Babadook',
 'The_Conformist_(film)',
 'Rebecca_(1940_film)',
 "Rosemary%27s_Baby_(film)",
 'Finding_Nemo',
 'Brooklyn_(film)',
 'The_Wrestler_(2008_film)',
 'The_39_Steps_(1935_film)',
 'L.A._Confidential_(film)',
 'Gone_with_the_Wind_(film)',
 'The_Good,_the_Bad_and_the_Ugly',
 'Skyfall',
 'Rome,_Open_City',
 'Tokyo_Story',
 'Hell_or_High_Water_(film)',
 'Pinocchio_(1940_film)',
 'The_Jungle_Book_(2016_film)',
 'La_La_Land_(film)',
 'Star_Trek_(film)',
 'High_Noon',
 'Apocalypse_Now',
 'On_the_Waterfront',
 'The_Wages_of_Fear',
 'The_Last_Picture_Show',
 'Harry_Potter_and_the_Deathly_Hallows_–_Part_2',
 'The_Grapes_of_Wrath_(film)',
 'Roman_Holiday',
 'Man_on_Wire',
 'Jaws_(film)',
 'Toy_Story',
 'The_Godfather_Part_II',
 'Battleship_Potemkin'
]

In [58]:
folder_name = 'bestofrt_posters'
# Make directory if it doesn't already exist
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [ ]:
df_list = []
image_errors = {}
for title in title_list:
    ranking = title_list.index(title)+1
    print(ranking)