In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_20 = pd.read_excel('SmartWay Vehicle List for MY 2020.xlsx')
df_10 = pd.read_excel('SmartWay Vehicle List MY 2010.xls')

In [12]:
df_20.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Stnd,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,AUDI A3,2.0,4.0,AMS-7,2WD,Gasoline,CA,L3SULEV30,California LEV-III SULEV30,LVGAV02.0A3A,small car,7,27,36,30,7,Yes
1,AUDI A3,2.0,4.0,AMS-7,2WD,Gasoline,FA,T3B30,Federal Tier 3 Bin 30,LVGAV02.0A3A,small car,7,27,36,30,7,Yes
2,AUDI A4,2.0,4.0,AMS-7,2WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,LVGAV02.0A7B,small car,5,27,35,30,7,Yes
3,AUDI A4,2.0,4.0,AMS-7,2WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,LVGAV02.0A7B,small car,5,27,35,30,7,Yes
4,AUDI Q5,2.0,4.0,AMS-7,4WD,Gasoline/Electricity,CA,L3SULEV30,California LEV-III SULEV30,LVGAJ02.0A3P,small SUV,7,25/64,29/66,27/65,10,Elite

In [28]:
df_20.isna().sum()

Model                    0
Displ                   81
Cyl                     81
Trans                    0
Drive                    0
Fuel                     0
Cert Region              0
Stnd                     0
Stnd Description         0
Underhood ID             0
Veh Class                0
Air Pollution Score      0
City MPG                 0
Hwy MPG                  0
Cmb MPG                  0
Greenhouse Gas Score     0
SmartWay                 0
dtype: int64

In [13]:
## Column name change
df_20.columns = df_20.columns.str.replace(' ', '_')
df_10.columns = df_10.columns.str.replace(' ', '_')

In [14]:
df_10.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA TSX,2.4,4.0,Man-6,2WD,Gasoline,CA,California LEV-II ULEV,AHNXV02.4SB9,small car,7,20,28,23,6,yes

In [19]:
df_20.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Stnd,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,AUDI A3,2.0,4.0,AMS-7,2WD,Gasoline,CA,L3SULEV30,California LEV-III SULEV30,LVGAV02.0A3A,small car,7,27,36,30,7,Yes

In [15]:
df_20.shape

(405, 17)

In [16]:
df_10.shape

(716, 16)

In [1]:
##以下テスト

In [13]:
type(df_20['Model'][0])

str

In [26]:
df_20['Model'].unique()

AttributeError: 'str' object has no attribute 'any'